﻿@model IList<string>
@{ 
    ViewBag.Title = "Reports";
}
<div class="dropdown center mt-4">
    <label for="default-sheet">Choose month:</label>
    <a id="default-sheet" class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="selected">@DateTime.Now.ToString("MMMM")</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var sheet in Model)
        {
            <a class="dropdown-item" href="#">@sheet</a>
        }
    </div>
</div>
<div id="tasks" class="container">
</div>
<div class="modal fade" id="reportingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="ml-9" id="reportingModalLabel">Add report</h5>
                <button type="button" class="close" onclick="CloseReportedTaskModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reportingForm">
                    <div class="form-group">
                        <label for="date" class="col-form-label">Date:</label>
                        <input class="form-control datepicker" data-date-format="dd.mm.yyyy" id="date">
                    </div>
                    <div class="form-group">
                        <label for="startTime" class="col-form-label">Start Time:</label>
                        <input type="time" class="form-control" id="startTime">
                    </div>
                    <div class="form-group">
                        <label for="spendTime" class="col-form-label">Spend Time (h):</label>
                        <input type="number" class="form-control" id="spendTime">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" rows="10" id="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CloseReportedTaskModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveReportedTask()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="estimateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="ml-9" id="estimateModalLabel">Add estimate</h5>
                <button type="button" class="close" onclick="CloseEstimatedTaskModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="estimateForm">
                    <div class="form-group">
                        <label for="task" class="col-form-label">Task #:</label>
                        <input type="text" class="form-control" id="task">
                    </div>
                    <div class="form-group">
                        <label for="taskName" class="col-form-label">Task Name:</label>
                        <input type="text" class="form-control" id="taskName">
                    </div>
                    <div class="form-group">
                        <label for="estimate" class="col-form-label">Estimate (h):</label>
                        <input type="number" class="form-control" id="estimate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CloseEstimatedTaskModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEstimatedTask()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
       AppendTasks();
    });

    $('.dropdown-menu a').click(function () {
        var filter = $(this).text();
        $('#selected').text(filter);
        AppendTasks(filter);
    });

    function AppendTasks(filter) {
        $('#tasks').html(`@Html.Partial("Spinner")`);

        $.post({
            url: '@Url.Action("TasksList")',
            data: { filter },
            success: function (result) {
                $('#tasks').html(result);
            }
        });
    }

     function SaveReportedTask() {
        var date = $("#date").val().trim();
        var startTime = $("#startTime").val().trim();
        var spendTime = $("#spendTime").val().trim();
        var description = $("#description").val().trim();
        if (date.length === 0) {
            $("#date").focus();
            return;
        }
        if (startTime.length === 0) {
            $("#startTime").focus();            
            return;
        }
        if (spendTime.length === 0) {
            $("#spendTime").focus();
            return;
        }
        if (description.length === 0) {
            $("#description").focus();
            return;
        }
        CloseReportedTaskModal();
        $.post({
            url: '@Url.Action("Task")',
            data: { range: "A1:D32", row: [date, startTime, spendTime, description] },
            success: function () {
                AppendTasks();
            }
        });        
     }

    function CloseReportedTaskModal() {
        $("#date").val('');
        $("#startTime").val('');
        $("#spendTime").val('');
        $("#description").val('');
        $("#reportingModal").modal("hide");
    }

     function SaveEstimatedTask() {
        var task = $("#task").val().trim();
        var taskName = $("#taskName").val().trim();
        var estimate = $("#estimate").val().trim();
        if (taskName.length === 0) {
            $("#taskName").focus();
            return;
        }
        if (estimate.length === 0) {
            $("#estimate").focus();
            return; 
        }
        CloseEstimatedTaskModal();
        $.post({
            url: '@Url.Action("Task")',
            data: { range: "A33:C", row: [task, taskName, estimate] },
            success: function () {
                AppendTasks();
            }
        });        
     }

    function CloseEstimatedTaskModal() {
        $("#task").val('');
        $("#taskName").val('');
        $("#estimate").val('');
        $("#estimateModal").modal("hide");
    }
</script>