﻿@model NotificationsSystem.Helpers.Tasks
@{
    Layout = null;
    bool isCurrentMonth = ViewBag.Filter != null ? ViewBag.Filter == DateTime.Now.ToString("MMMM") : true;
}
<style>
    .table-scroll-y {
        overflow-y:scroll;
        display:block;
        overflow-y:hidden;
    }
</style>
@if (Model.ReportedTasks != null)
{
    <h3 class="text-center mt-3">Reported Tasks</h3>
    <table class="table table-bordered table-scroll-y">
        <tbody>
            @foreach (var row in Model.ReportedTasks)
            {
                <tr>
                    @foreach (var col in row)
                    {
                        <td>@col</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (isCurrentMonth)
    {
        <div class="text-left mb-3">
            <button type="button" data-toggle="modal" data-target="#reportingModal" class="btn btn-primary mr-3">Add report</button>
        </div>
    }
}
@if (Model.EvaluatedTasks != null)
{
    <h3 class="text-center">Evaluated Tasks</h3>
    <table class="table table-bordered">
        <tbody>
            @foreach (var row in Model.EvaluatedTasks)
            {
                <tr>
                    @foreach (var col in row)
                    {
                        <td>@col</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (isCurrentMonth)
    {
        <div class="text-left mb-3">
            <button type="button" data-toggle="modal" data-target="#estimateModal" class="btn btn-primary mr-3">Add estimate</button>
        </div>
    }
}