﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <partial name="_ThemeStyles" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Home</a>
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class=" nav-link " href="@Url.Action("Index","Managers")">
                            <p class="font-weight-bold">Managers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link " href="@Url.Action("Index","Reports")">
                            <p class="font-weight-bold">Reports</p>
                        </a>
                    </li>
                </ul>
                <hr class="my-3">
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Settings")">
                            <p class="font-weight-bold">Settings</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GoogleLogout","Account")">
                            <p class="font-weight-bold">Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content">
        @RenderBody()
    </div>
    <partial name="_ThemeScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>