﻿<!-- Argon Scripts -->
<!-- Core -->
<script src="~/vendor/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<!-- Docs JS -->
<script src="~/vendor/anchor-js/anchor.min.js" asp-append-version="true"></script>
<script src="~/vendor/clipboard/dist/clipboard.min.js" asp-append-version="true"></script>
<script src="~/vendor/holderjs/holder.min.js" asp-append-version="true"></script>
<script src="~/vendor/prismjs/prism.js" asp-append-version="true"></script>
<!-- Optional JS -->
<script src="~/vendor/chart.js/dist/Chart.min.js" asp-append-version="true"></script>
<script src="~/vendor/chart.js/dist/Chart.extension.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
<!-- Argon JS -->
<script src="~/js/argon.min.js" asp-append-version="true"></script>
