﻿<link type="text/css" href="~/css/spinner.css" rel="stylesheet" asp-append-version="true">
<div class="d-flex justify-content-center">
    <div class="lds-css ng-scope">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>