﻿<h3 class="text-center mt-3">User Info</h3>
<div id="user-info" class="container">
</div>
<script>
    $(function () {
        AppendUserInfo();
    });

    function AppendUserInfo() {
        $('#user-info').html(`@Html.Partial("Spinner")`);

        $.get({
            url: '@Url.Action("UserInfo")',
            success: function (result) {
                $('#user-info').html(result);
            }
        })
    }

    function SaveUserInfo() {
        $.post({
            url: '@Url.Action("UserInfo")',
            data: { email: $("#email").val(), spreadsheetId: $("#spreadsheetId").val(), isAllowedNotifications: $("#isAllowedNotifications").prop("checked") },
            success: function () {
                AppendUserInfo();
            }
        });
    }
</script>