﻿@model NotificationsSystem.Helpers.UserInfo
@{
    Layout = null;
}
<form id="user-info-form">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control disabled" id="email" asp-for="Email" disabled>
    </div>
    <div class="form-group">
        <label for="spreadsheetId">Spreadsheet Id</label>
        <input type="text" class="form-control" id="spreadsheetId" asp-for="SpreadsheetId">
    </div>
    <div class="form-group">
        <label for="isAllowedNotifications">Allow notifications</label>
        <input type="checkbox" id="isAllowedNotifications" asp-for="IsAllowedNotifications">
    </div>
    <div class="text-right mt-3">
        <button type="button" class="btn btn-primary btn-lg" onclick="SaveUserInfo()">Save</button>
    </div>
</form>
