﻿<h3 class="text-center mt-3">Managers</h3>
<div id="managers" class="container">
</div>
<div class="modal fade" id="managerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="ml-9" id="managerModalLabel">Add new manager</h5>
                <button type="button" class="close" onclick="CloseManagerModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="managerForm">
                    <div class="form-group">
                        <label for="newManagerEmail" class="col-form-label">Manager Email:</label>
                        <input type="text" class="form-control" id="newManagerEmail">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CloseManagerModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveManagerEmail()">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        AppendManagers();
    });


    function AppendManagers() {
        $('#managers').html(`@Html.Partial("Spinner")`);

        $.post({
            url: '@Url.Action("ManagersList")',
            success: function (result) {
                $('#managers').html(result);
            }
        });
    }

     function SaveManagerEmail() {
        var newManagerEmail = $("#newManagerEmail").val().trim();
        if (newManagerEmail.length === 0) {
            $("#newManagerEmail").focus();
            return;
        }

        $.post({
            url: '@Url.Action("Manager")',
            data: { newManagerEmail },
            success: function () {
                CloseManagerModal();
                AppendManagers();
            }
        })
     }

    function CloseManagerModal() {
        $('#managerModal').modal('hide');
        $("#newManagerEmail").val('');
    }

    function DeleteManager(managerEmail) {
        $.post({
            url: '@Url.Action("DeleteManager")',
            data: { managerEmail },
            success: function () {
                AppendManagers();
            }
        })
    }
</script>