﻿@model IList<string>
@{
    Layout = null;
}
@if (Model.Any())
{    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Manager Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int numberManager = 1;
                foreach (var manager in Model)
                {
                    <tr>
                        <th scope="row">@numberManager</th>
                        <td>@manager</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" onclick="DeleteManager('@manager')">Delete</button>
                        </td>
                    </tr>
                    numberManager++;
                }
            }
        </tbody>
    </table>
}
<div class="text-center mt-3">
    <button type="button" class="m-2 btn btn-primary" data-toggle="modal" data-target="#managerModal">Add new manager</button>
</div>